@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Raleway:wght@500&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.541)), url('./images/background-image.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
}
.home{
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  position: relative;
  z-index: -1;
}
.home h1{
  font-size: 3.5em;
}
.home h2{
  font-size: 1.7rem;
  font-family: 'Raleway', sans-serif;
  margin-top: 10px;
}
.home h2 span{
  color: #ff481d;
  border-bottom: 3px solid #ff481d;
  padding-bottom: 5px;
}
nav{
  display: flex;
  align-items: center;
}
.menu-bar, .close-bar{
  width: 35px;
  cursor: pointer;
  
}
nav ul{
  position: relative;
}
nav ul li{
  list-style: none;
  display: inline-block;
  position: relative;
  margin-right: 50px;
}
.nav-link{
  text-decoration: none;
  color: #999696;
  font-size: 1.1em;
  position: relative;
}
.nav-link:hover{
  color: white;
}
.nav-link::after{
  content: '';
  position: absolute;
  background-color: #ff481d;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -10px;
  transition: 0.3s ease-in-out;
}
.nav-link:hover::after{
  width: 50%;
}
.active{
  color: white;
}
.active::after{
  content: '';
  position: absolute;
  background-color: #ff481d;
  width: 50%;
  height: 2px;
  left: 0;
  bottom: -10px;
}
.social-icons{
  margin-top: 40px;
}
.social-icons a{
  text-decoration: none;
  margin-right: 20px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  position: relative;
  transition: 0.3s ease-in-out;
}
.social-icons a img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social-icons a:hover{
  background-color: #ff481d;
}
header{
  background-color: rgba(0, 0, 0, 0.329);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  position: sticky;
  top: 0;
}
.logo a{
  text-decoration: none;
}
.logo h1{
  color: white;
}
.logo h1 span{
  color: #ff481d;
}
@media (max-width: 970px){
  header{
    padding: 10px 20px;
  }
  .nav-container{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.966);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding: 0;
    /* display: none; */
  }
  nav ul{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 85vw;
    height: 85vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border: 0.2rem solid #9996966c;
    border-radius: 3px;
    padding: 20px;
  }
  nav ul li{
    margin-bottom: 40px;
    display: block;
  }
  .menu-bar{
    display: block;
  }
  .close-bar{
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
  }
}
.about-container{
  background-color: black;
  margin-top: 50px;
}
.about-container h2{
  color: white;
}
@media (max-width: 500px){
  .home{
    align-items: center;
    padding: 0;
  }
  .home h1, h2, a{
    text-align: center;
  }
  .home h1{
    font-size: 2.7em;
  }
  .home h2, .logo h1{
    font-size: 1.5em;
  }
}